body {
    background-color: blue;
}

.btn {
    max-width   : fit-content;
    margin-left : auto;
    margin-right: auto;
}

.player {
    display: flex;
}
.player1 {
    background-color: #fff;
    width: 100px;
    height: 100px;
}